body {
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side {
  display: flex;
}

.nav-link-wrapper > .left-side > div {
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  margin-right: 20px;
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
  position: relative;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

.item1 {grid-area: About;}

.item2 {grid-area: Portfolio;}

.item3 {grid-area: Blog;}

.item4 {
  grid-area: Drawer;
}

.grid-container {
  display: grid;
  grid-template-areas: 'About Portfolio Blog' 'Drawer Drawer Drawer';
  background-color: #0000ff;
}

.grid-container > div {
  text-align: center;
}
