body {
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side {
  display: flex;
}

.nav-link-wrapper > .left-side > div {
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  margin-right: 20px;
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
  position: relative;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

.item1 {
  grid-area: About;
  height: 500px;
  position: relative;
}

.item2 {
  grid-area: Portfolio;
  height: 500px;
  position: relative;
}

.item3 {
  grid-area: Blog;
  height: 500px;
  position: relative;
}

.item4 {
  grid-area: Drawer;
}

.grid-container {
  display: grid;
  grid-template-areas: 'About Portfolio Blog' 'Drawer Drawer Drawer';
  background-color: #0000ff;
}

.grid-container > div {
  text-align: center;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.logo-wrapper img {
  filter: brightness(0%);
  width: 50%;
  margin-bottom: 20px;
}

.img-text-wrapper:hover .logo-wrapper img {
  transition: 1s;
  filter: brightness(100%);
}

.img-text-wrapper .subtitle {
  transition: 1s;
  font-weight: 600;
  color: transparent;
}

.img-text-wrapper:hover .subtitle {
  font-weight: 600;
  color: lightseagreen;
}

.item1:hover .background-image {
  transition: 1s;
  filter:brightness(10%);
}

.item2:hover .background-image {
  transition: 1s;
  filter:brightness(10%);
}

.item3:hover .background-image {
  transition: 1s;
  filter:brightness(10%);
}

.background-image {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: centre;
  background-repeat: no-repeat;
}
